<div class="container_replay clearfix">
  <div class="mictopost_container">
    <ul class="tmp">
      <li><%= image_tag(@micropost.picture.url) %></li>
      <li><%= @micropost.content %></li>
      <li><%= render 'microposts/like_form' %></li>
      <%= form_for(@reply, url: reply_index_path ) do |f| %>
        <li>
          <%= hidden_field_tag :id, @micropost.id %>
          <%= f.label :content, "返信" %>
          <%= f.text_field :content%>
          <%= f.submit "返信する" %>
        <li>
      <% end %>
      <li><%= link_to("投稿を削除する", micropost_path(@micropost), method: :delete) if @micropost.user == @current_user %></li>
    </ul>
  </div>
  <div class = "replaies scroll_content">
    <%= render partial: 'reply', collection: @replies %>
  </div>
</div>
